    {% extends "base.html" %}
    {% block body %}
            <section class="ftco-section-2">
                <div class="photograhy">
                    <div class="row no-gutters">
                        {% for photo in photographs %}
                        <div class="col-md-4 ftco-animate">
                            <a href="{{ photo.photograph_url }}"
                               class="photography-entry img image-popup d-flex justify-content-center align-items-center"
                               style="background-image: url({{ photo.photograph_url }});"
                               title="{{ photo.title|safe }}" data-location="{{photo.location if photo.location is not none else ''}}"
                               data-date="{{photo.capture_date.strftime('%b. %d, %Y') if photo.capture_date is not none else ''}}"
                            >
                                <div class="overlay">
                                </div>
                                <div class="text text-center">
                                    <h3>{{ photo.title|safe }}</h3>
                                    <span>{{ photo.tag_names() }}</span>
                                    {% if photo.capture_date is not none %}
                                    <br>
                                    <span><i class="icon-calendar" > {{ photo.capture_date.strftime("%b. %d, %Y") }}</i></span>
                                    {% endif %}
                                    {% if photo.location is not none%}
                                    <br>
                                    <span><i class="icon-my_location" >{{photo.location}}</i></span>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row mt-1">
                    <div class="col" style="text-align: center !important;">
                        <div class="block-27-1">
                            <ul>
                                {% if first_page %}
                                <li><a href="{{ first_page }}">&lt;&lt;</a></li>
                                {% endif %}
                                {% if prev_url %}
                                <li><a href="{{ prev_url }}">&lt;</a></li>
                                {% endif %}
                                {% for _page_no in page_nos %}
                                    {% if page_no == _page_no %}
                                    <li class="active"><span>{{page_no}}</span></li>
                                    {% else %}
                                    <li>
                                        <a href="{{url_for('posts.photography', page=_page_no, category=category,
                                                             year=year, month=month, category_id=category_id)}}">
                                            {{_page_no}}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                {% if next_url %}
                                <li><a href="{{ next_url }}">&gt;</a></li>
                                {% endif %}
                                {% if last_page %}
                                <li><a href="{{ last_page }}">&gt;&gt;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </section>
    {% endblock %}
{% block footer %}
    {% include 'photo_footer.html' %}
{% endblock %}